@page "/R_Vitaminas"
@page "/R_Vitaminas/{VitaminaId:int}"

@inject VitaminasBLL vitaminasBLL


<EditForm Model="vitamina" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card-header">
        <h3>Registro Vitaminas</h3>
    </div>
</EditForm>
@code 
{
    [Parameter]
    public int VitaminaId { get; set; }
    public Vitaminas vitamina { get; set; } = new Vitaminas();
    protected override void OnInitialized()
    {
        if (VitaminaId > 0)
        {
            this.vitamina.VitaminaId = VitaminaId;
            this.Buscar();
        }
    }
    private void Buscar()
    {
        if (vitamina.VitaminaId > 0)
        {
            var encontrado = vitaminasBLL.Buscar(vitamina.VitaminaId);

            if (encontrado != null)
                this.vitamina = encontrado;
        }
    }
    public void Guardar()
    {

        bool guardo = vitaminasBLL.Guardar(vitamina);

        if (guardo)
        {
            Nuevo();
        }

    }
    public void Nuevo()
    {
        vitamina = new Vitaminas();
    }
}